<!DOCTYPE html>
<html>
  <head>
    <title>Book App</title>
    <link rel="stylesheet" href="../../../style/base.css" type="text/css">
    <link rel="stylesheet" href="../../../style/layout.css" type="text/css">
  </head>
  <body>
    <section class="container">
    <header>
      <h2>Best Books!</h2>
    </header>
    <main>
      <div>
        <h3 class="underHeader">Search Results</h3>
      </div>
      <div class="searchDiv">
            <% books.forEach( (book) => { %>
              <div class="imgDiv">
                <img class="bookImg" src="<%= book.image %>" />
                  <h2 class="bookTitle"><%= book.title %></h2>
                  <h3 class="bookAuthor"><%= book.author %></h3>
                  <p class="bookDescription"><%= book.description %></p>
              </div>
              <form action='/addBook' method="POST" >
                <input name="title" value="<%= book.title %>" class="hidden">
                <input name="author" value="<%= book.author %>" class="hidden">
                <input name="description" value="<%= book.description %>" class="hidden">
                <input name="img" value="<%= book.image %>" class="hidden">
                <button type="submit">Select This Book</button>
            </form>
            <% }); %>
      </div>
    </main>
    <footer></footer>
  </section>

  </body>
</html>