<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Book App</title>
        <link rel="stylesheet" href="../../../style/base.css" type="text/css">
        <link rel="stylesheet" href="../../../style/layout.css" type="text/css">
      </head>
<body>
<main>
  <div>
    <h2>Book Details</h2>

    <div>
      <ul>
        <li> <img src="<%= books.img %>" /> </li>
        <li>
          <%= books.title%>
        </li>
        <li>
          <%= books.author%>
        </li>
        <li>
          <%= books.description %>
        </li>
        <li>
          <%= books.isbn %>
        </li>


      </ul>

      <form action="/deleteBook/<%=books.id%>?_method=delete" method="post">
        <button>Delete Book</button>
     </form>

      <button id='updateBtn'>Update</button>
      <section id='updateForm'>
        <h3>Update Book From</h3>
        <form action="/updateBook/<%=books.id%>?_method=put" method="post">
         <input type="text" name="title" value=' <%= books.title  %> '>
         <input type="text" name="author" value="<%= books.author  %>">
         <input type="text" name="isbn" value="<%= books.isbn  %>">
         <input type="text" name="img" value="<%= books.img  %>">
         <textarea name="description"><%= books.description  %></textarea>
         <button type="submit">Update Book</button>
     </form>
      </section> 

    </div>
  

  </div>
</main>
</body>
<footer>
  <script src="../../../public/app.js"></script>
</footer>

</html>