<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Book App</title>
        <link rel="stylesheet" href="../../../style/base.css" type="text/css">
        <link rel="stylesheet" href="../../../style/layout.css" type="text/css">
      </head>
<body>
<main>
  <div>
    <h2>Book Details</h2>

    <div>
      <ul>
        <li> <img src="<%= books.img %>" /> </li>
        <li>
          <%= books.title%>
        </li>
        <li>
          <%= books.author%>
        </li>
        <li>
          <%= books.description %>
        </li>
        <li>
          <%= books.isbn %>
        </li>


      </ul>

    </div>

  </div>
</main>
</body>

</html>